<!DOCTYPE html>
<html>
	<head>	
		<meta http-equiv = "Content-Type" content = "text/html" charset = "UTF-8">

		<title>Mission Control</title>

		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		{% load static %}
		<link rel="stylesheet" type="text/css" href=“{% static 'index.css' %}”>
	</head>

<!-- Should add tabs for each room -->

<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul>Let there be light!</ul>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><input id="livingRoomPercentage" type="range" min="0" max="100" step="10" /> </ul>
            </div>
        </div>
    </div>
</div>

<div id="bottom">

</div>
</html>
