<!DOCTYPE html>
<html>
	<head>	
		<meta http-equiv = "Content-Type" content = "text/html" charset = "UTF-8">

		<title>Mission Control</title>

		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
	</head>
<body>
<header>
				<ul class="headerUL">
				<li class="headerLI">
					<a class = "links" href="{% url 'livingRoom' %}">Living Room</a>
				</li>
				<li class="headerLI">
					<a class = "links" href="{% url 'kittyCorner' %}">Kitty Corner</a>
				</li>
				<li class="headerLI">
					<a class = "links" href="{% url 'bathroom' %}">Bathroom</a>
				</li>
				</ul>
</header>

<h1>Living Room</h1>

<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><form name="on" action="/lron" method="POST"><button name="on" type="button">On</button></form></ul>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><form name="off" action="/lroff" method="POST"><button name="off" type="button">Off</button></form></ul>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><form name="dim" action="/lrdim" method="POST"><button name="dim" type="button">Dim</button></form></ul>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><form name="night" action="/lrnight" method="POST"><button name="night" type="button">Night</button></form></ul>
            </div>
        </div>
    </div>
</div>

<div id="bottom">

</div>
</body>
</html>
